body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7a7d0;
  color: #395ea8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
  background: #b8eafe;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(134, 131, 131, 0.797);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  margin: 20px 0;
}

.cell {
  width: 100px;
  height: 100px;
  background: #ffa5de;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.cell:hover {
  background: #334155;
}

button {
  padding: 10px 20px;
  border: none;
  background: #22c55e;
  color: #000;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

h1 {
  font-size: 2.2rem;
  color: #073ba2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}


h1 i {
  color: #ef4444;             
  font-size: 2.2rem;        
  vertical-align: middle;
}


h1 i.fa-xmark,
h1 i.fa-circle {
  text-shadow: 0 0 8px rgba(239, 68, 68, 0.6);
}
